#wrapper{
	height: 350px;
}
#memo {
	resize: none;
    width: 95%;
	height: 100%;
}
#area-memo{
	text-align: center;
	height: 90%;
}
#area-bar{
	width: 98%;
    text-align: right;
}
button{
    width: 45px;
    height: 45px;
}
.bar{
	text-align: right;
	/* margin: 20px 0; */
}
body{
	margin: 0;
}