#wrapper{
	height: 600px;
}
#memo {
	resize: none;
    width: 100%;
	height: 100%;
}
#area-memo{
	height: 90%;
}
button{
    width: 45px;
    height: 45px;
}
.bar{
	text-align: right;
	margin: 20px 0;
}
#area-bar::after{
	display: block;
	content: '';
	clear: both;
}